[submodule "poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/poky
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git@github.com:agherzan/meta-raspberrypi.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git@github.com:openembedded/meta-openembedded.git
[submodule "layers/meta-security"]
	path = layers/meta-security
	url = git://git.yoctoproject.org/meta-security
